.card-container {
    margin-top: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(247, 210, 215);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.button {
    margin-left: 25%;
    background-color: rgb(241, 92, 33);
}