<mat-card class="bg-indigo-light">
  <form [formGroup]="Formdata">
    <br />
    <div class="p-8 ...">
      <textarea
        placeholder="Enter Paragraph"
        class="form-control"
        #data
        formControlName="data"
        rows="5"
        cols="50"
        required
      ></textarea>
      <mat-error
        *ngIf="
          Formdata.controls['data'].errors?.required &&
          Formdata.controls['data'].touched
        "
      >
        data is required
      </mat-error>
    </div>
    <br />
    <div>
      <button
        mat-raised-button
        class="bg-gradient-to-r from-red-500 ..."
        (click)="add(data.value)"
      >
        Add ✔
      </button>
    </div>
  </form>
</mat-card>
