<mat-card class="bg-indigo-light">
  <form [formGroup]="Formdata" (ngSubmit)="onSubmit()">
    <br />
    <div class="p-8 ...">
      <mat-form-field appearance="legacy">
        <mat-label>First Name</mat-label>
        <input
          matInput
          #firstName
          formControlName="firstName"
          placeholder="Enter Your First name"
        />
      </mat-form-field>

      <mat-form-field appearance="legacy">
        <mat-label>Last Name</mat-label>
        <input
          matInput
          #lastName
          formControlName="lastName"
          placeholder="Enter Your last name"
        />
      </mat-form-field>

      <textarea
        placeholder="Enter Paragraph"
        class="form-control"
        #data
        formControlName="data"
        rows="5"
        cols="50"
        required
      ></textarea>

      <mat-form-field appearance="legacy">
        <mat-label>Select Country</mat-label>
        <mat-select formControlName="country">
          <mat-option value="India">India</mat-option>
          <mat-option value="America">America</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-error
        *ngIf="
          Formdata.controls['data'].errors?.required &&
          Formdata.controls['data'].touched
        "
      >
        data is required
      </mat-error>
    </div>
    <br />
    <div>
      <button
        mat-raised-button
        class="bg-gradient-to-r from-red-500 ..."
        type="submit"
      >
        Add ✔
      </button>
      <!--(click)="add(data.value)"-->
    </div>
  </form>
</mat-card>
