<div>
  <div class="container mx-auto" *ngIf="heroes.length > 0">
    <div
      class="
        bg-gray-500 bg-opacity-25
        border-indigo-300
        pt-13
        row
        border-1
        bg-clip-border
      "
    >
      <div class="mb-4 col-lg-3" *ngFor="let tile of heroes">
        <div class="p-3 bg-white rounded shadow-lg">
          <div class="card-body">
            <div>
              <button
                title="delete hero"
                class="btn btn-outline-primary"
                (click)="delete(tile)"
              >
                x
              </button>
            </div>
            <h2 class="text-center card-title">
              {{ tile.name }} {{ tile.lastName }}
            </h2>
            <h4 class="text-center card-text">
              {{ tile.country }}
            </h4>
          </div>
        </div>
      </div>
    </div>
    <br />
  </div>
</div>
