  .row {
      padding: 5%;
  }
  
  nav {
      margin-left: 40%;
      align-items: center;
      display: flex;
  }
  
  .paginator {
      margin-left: 40%;
  }
  
  #delete {
      margin-left: 95%;
      margin-top: -12%;
  }