<div class="flex">
  <div class="w-50">
    <form class="pt-3 form">
      <div>
        <input
          autoFocus
          class="form-control m-input"
          #SearchInput
          (input)="search(SearchInput.value)"
          [placeholder]="'Enter Keyword to Search'"
          type="text"
        />
      </div>
    </form>
  </div>
  <div class="w-20 pl-13">
    <mat-form-field appearance="legacy">
      <mat-label>Filter By Country</mat-label>
      <mat-select>
        <mat-option value="America">America</mat-option>
        <mat-option value="India">India</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<br />
